<div class="header-wrapper">
	<div class="btn-wrapper">
		<button type="button" class="back-btn"><a ng-href="#/"><img src="../compass/images/back.png" width="24px"></a></button>
	</div>
	<div class="currentView">Word Bank</div>
</div>


<div class="view-page">

	<div id="bank-form-wrapper">
		<form ng-submit="add()">
			<div class="form-group">
			<label>Language</label>
			<select class="form-control" ng-model="newWord.lng">
				<option value="k">Korean</option>
				<option value="e">English</option>
			</select>
			</div>
			<div class="form-group">
				<label>Word </label>
				<input type="text" class="form-control" ng-model="newWord.word">
			</div>
			<div class="form-group">
				<label>Part of Speech </label>
				<select class="form-control" ng-model="newWord.part">
					<option value="0">명사(noun)</option>
					<option value="1">대명사(pronoun)</option>
					<option value="2">동사(verb)</option>
					<option value="3">형용사(adjective)</option>
					<option value="4">부사(adverb)</option>
					<option value="5">전치사(proposition)</option>
					<option value="6">접속사(conjuction)</option>
					<option value="7">감탄사(interjection)</option>
				</select>
			</div>
			<div class="form-group">
				<label>Definition </label>
				<input type="text" class="form-control" ng-model="newWord.def">
			</div>
			<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
	<div ng-show="saved">
		The following has been saved in Word Bank:
		{{savedWord.word}} 
		{{savedWord.definition}}
		<button class="btn btn-sm btn-default" type="button" ng-click="savedOK()">OK</button>
	</div>
</div>