<div class="header-wrapper">
	<button type="button" class="back-btn"><a ng-href="#/"><img src="../marti_study_room/compass/images/back.png" width="24px"></a></button>
	<div class="currentView">Review</div>
</div>

<div class="view-page">

	<div class="option-wrapper">
		<button type="button" class="option-btn" ng-click="showFlashCard()">Flash Cards</button>
		<button type="button" class="option-btn" ng-click="showWordBank()">Word Bank List</button>
	</div>

	<div class="review review-flash" ng-if="flashCardMode">
		<div id="flashcard">
			<div class="flashcard-btn">
				<button type="button" class="flashcard-left"><span class="glyphicon glyphicon-chevron-left" ng-click="prev()"></span></button>
			</div>
			<div class="flashcard-content">
				<h2 ng-model="fcWord">{{fcWord}} <br/>
				<small ng-model="fcGrmm">{{fcGrmm}}</small></h2>
				<h3 ng-model="fcMeaning">   {{fcMeaning}}</h3>
			</div>
			<div class="flashcard-btn">
				<button type="button" class="flashcard-right"><span class="glyphicon glyphicon-chevron-right" ng-click="next()"></span></button>
			</div>
		</div>

	</div>


	<div class="review review-bank" ng-if="wordBankMode">
		<table class="table" id="wordBankTable">
			<thead>
				<tr>
					<th class="col-word" ng-click="orderField='word'; reverse=!reverse">Word</th>
					<th class="col-gramm"  ng-click="orderField='grmm'; reverse=!reverse">Grammar Info</th>
					<th class="col-meaning"  ng-click="orderField='meaning'; reverse=!reverse">Meaning</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="word in reviewBank | orderBy: orderField : reverse">
					<td>{{word.word}}</td>
					<td>{{word.grmm}}</td>
					<td>{{word.meaning}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>